<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Customer List</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-grid.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-grid.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-reboot.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-reboot.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/bootstrap}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min}"></script>
</head>
<body>
	<h1 align="center">Welcome</h1>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div align="center" class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<td align="center" class="font-weight-bold"><h3>
							<a th:href="@{/customer}">Customer</a>
						</h3></td>
					<td align="center" class="font-weight-bold"><h3>
							<a th:href="@{/employee}">Employee</a>
						</h3></td>
					<td align="center" class="font-weight-bold"><h3>
							<a th:href="@{/admin}">Admin</a>
						</h3></td>
				</tr>
			</thead>
			<form data-th-action="@{/searchEmployee}" th:object="${employee}"
				method="POST">
				<tbody>

					<tr>
						<td>Name<br /> <input type="text" th:field="*{employeeName}" /></td>
						<td>Phone Number<br /> <input type="text"
							th:field="*{phoneNumber}" /></td>
					</tr>

					<tr>
						<td>address<br /> <input type="text" th:field="*{address}" /></td>
						<td><input type="submit" value="Search"
							class="btn btn-primary" />&nbsp;&nbsp;&nbsp;&nbsp;<a
							th:href="@{/addEmployee}" class="btn btn-primary">Add
								Employee</a></td>
					</tr>
				</tbody>
			</form>
		</table>

		<div align="center" class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<td align="center" class="font-weight-bold"><h3>ID</h3></td>
						<td align="center" class="font-weight-bold"><h3>Name</h3></td>
						<td align="center" class="font-weight-bold"><h3>Age</h3></td>
						<td align="center" class="font-weight-bold"><h3>Salary</h3></td>
						<td align="center" class="font-weight-bold"><h3>Position</h3></td>
						<td align="center" class="font-weight-bold"><h3>Gender</h3></td>
						<td align="center" class="font-weight-bold"><h3>Phone</h3></td>
						<td align="center" class="font-weight-bold"><h3>Address</h3></td>
						<td align="center" class="font-weight-bold"><h3>Created
								Date</h3></td>
						<td align="center" class="font-weight-bold"><h3>Updated
								Date</h3></td>
						<td colspan="2" align="center" class="font-weight-bold"><h3>Action</h3></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${employees}">
						<td th:utext="${employee.employeeId}">...</td>
						<td th:utext="${employee.employeeName}">...</td>
						<td th:utext="${employee.age}">...</td>
						<td th:utext="${employee.salary}">...</td>
						<td th:utext="${employee.position}">...</td>
						<td th:utext="${employee.gender}">...</td>
						<td th:utext="${employee.phoneNumber}">...</td>
						<td th:utext="${employee.address}">...</td>
						<td th:utext="${employee.createdDate}">...</td>
						<td th:utext="${employee.updatedDate}">...</td>
						<td><a
							th:href="@{/updateEmployee/{id}(id=${employee.employeeId})}">Update</a></td>
						<td><a
							th:href="@{/deleteEmployee/{id}(id=${employee.employeeId})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>