<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Update Customer</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-grid.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-grid.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-reboot.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-reboot.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/bootstrap}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min}"></script>
</head>
<body>
	<form th:action="@{/updateCustomer}" th:object="${customer}"
		method="POST">
		<input type="hidden" th:field="*{customerId}"/>
		<table class="table table-bordered">
			<tr>
				<td colspan="2"><h1 align="center">Update a Customer:</h1></td>
			</tr>
			<tr>
				<td align="right">Name:</td>
				<td><input type="text" th:field="*{customerName}" /></td>
			</tr>
			<tr>
				<td align="right">age:</td>
				<td><input type="text" th:field="*{age}" /></td>
			</tr>
			<tr>
				<td align="right">gender:</td>
				<td><input type="text" th:field="*{gender}" /></td>
			</tr>
			<tr>
				<td align="right">Phone:</td>
				<td><input type="text" th:field="*{phoneNumber}" /></td>
			</tr>
			<tr>
				<td align="right">Address:</td>
				<td><input type="text" th:field="*{address}" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="Update" /></td>
			</tr>
		</table>
	</form>
	<br />
</body>
</html>